.kasa-banner {
    width: 335px;
    height: 223px; //111
    position: relative;
    margin: 16px 20px 22px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);

    img {
        position: relative;
        z-index: -1;
        border-radius: 10px;
    }

    p {
        color: white;
        width: 217px;
        text-align: left;
        font-size: 24px;
        line-height: 24px;
        position: absolute;
        left: 16px;
        top: 31px;
    }

    @media screen and (min-width: 1440px) {
        width: 1240px;
        height: 223px;
        margin: 63px 100px 43px 100px;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.3);

        img {
            position: relative;
            z-index: -1;
            border-radius: 25px;
        }

        p {
            width: 705px;
            text-align: center;
            color: white;
            font-size: 48px;
            line-height: 68px;
            position: absolute;
            left: 273px;
            top: 78px;
        }


    }
}