.kasa-cards-container {
    width: 335px;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1440px) {
        width: 1240px;
        margin: 0px 100px 0px 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}