.kasa-card {
    width: 335px;
    height: 255px;
    border-radius: 10px;

    &__img {
        width: 335px;
        height: 255px;
        border-radius: 10px;
        object-fit: cover;
    }

    @media screen and (min-width: 1440px) {
        width: 340px;
        height: 340px;
        border-radius: 10px;

        &__img {
            width: 340px;
            height: 340px;
            border-radius: 10px;
            object-fit: cover;

        }
    }

}