.owner-profile {
    display: flex;
    height: 64px;
    &__name {
        color: #ff6060;
        font-size: 18px;
        line-height: 26px;
        text-align: right;
        margin: 6px 10px 6px 0px;
    }
    &__pic {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;
           }
    }
}