.kasa-tag {
    width: 84px;
    height: 18px;
    border-radius: 5px;
    background-color: #ff6060;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 18px;
    margin-right: 10px;
    @media screen and (min-width: 1440px) {
        width: 115px;
        height: 25px;
        border-radius: 10px;
        background-color: #ff6060;
        font-size: 14px;
        color: white;
        text-align: center;
        line-height: 25px;
    }
}