.header-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px 20px 16px 20px;

    @media screen and (min-width: 1440px) {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 100px 24px 100px;
    }
}

.fiche-tags {
    margin-top: 10px;
    display: flex;

    @media screen and (min-width: 1440px) {
        margin-top: 20px;
        display: flex;

    }

}

.ownerrating-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0px 0px 0px;

    @media screen and (min-width: 1440px) {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: flex-end;
        margin: 0;
    }
}

.fiche-rating {
    padding-top: 9px;
    @media screen and (min-width: 1440px) {
        margin-top: 24px;
    }
}

.collapse-group {
    margin: 0px 0px 44px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 1440px) {
        margin: 26px 100px 26px 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

    }
}

.collapse-fiche__wrapper {
    width: 335px;
    margin: 0px 20px 20px 20px;


    @media screen and (min-width: 1440px) {
        width: 582px;
        margin: 0px 0px 0px 0px;
    }
}

.collapse-fiche__header {
    width: 335px;
    height: 30px;
    background-color: #ff6060;
    color: white;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    display: flex;
    position: relative;

    h2 {
        font-size: 13px;
        line-height: 30px;
        padding-left: 12px;
    }

    &__arrow {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 5px;
        top: 6px;
        transition: transform ease-in 200ms;

        img {
            width: 18px;
            height: 18px;
            object-fit: cover;
        }
    }


    @media screen and (min-width: 1440px) {
        width: 582px;
        height: 52px;
        background-color: #ff6060;
        color: white;
        border-radius: 5px;
        margin: 0px 0px 0px 0px;
        display: flex;
        position: relative;

        h2 {
            font-size: 24px;
            line-height: 47px;
            padding-left: 18px;
        }

        &__arrow {
            width: 32px;
            height: 32px;
            position: absolute;
            right: 9px;
            top: 10px;
            transition: transform ease-in 200ms;

            img {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
        }


    }
}

.collapse-fiche__opened {
    width: 335px;
    background-color: #f7f7f7;
    color: #ff6060;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;

    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        padding: 23px 7px 5px 12px;
    }


    @media screen and (min-width: 1440px) {
        width: 582px;
        background-color: #f7f7f7;
        color: #ff6060;
        border-radius: 5px;
        margin: 0px 0px 0px 0px;

        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 34px;
            padding: 40px 12px 53px 20px;
        }


    }
}

.collapse-fichequip__wrapper {
    width: 335px;
    margin: 0px 20px 20px 20px;


    @media screen and (min-width: 1440px) {
        width: 582px;
        margin: 0px 0px 0px 0px;
    }
}

.collapse-fichequip__header {
    width: 335px;
    height: 30px;
    background-color: #ff6060;
    color: white;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    display: flex;
    position: relative;

    h2 {
        font-size: 13px;
        line-height: 30px;
        padding-left: 12px;
    }

    &__arrow {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 5px;
        top: 6px;
        transition: transform ease-in 200ms;

        img {
            width: 18px;
            height: 18px;
            object-fit: cover;
        }
    }


    @media screen and (min-width: 1440px) {
        width: 582px;
        height: 52px;
        background-color: #ff6060;
        color: white;
        border-radius: 5px;
        margin: 0px 0px 0px 0px;
        display: flex;
        position: relative;

        h2 {
            font-size: 24px;
            line-height: 47px;
            padding-left: 18px;
        }

        &__arrow {
            width: 32px;
            height: 32px;
            position: absolute;
            right: 9px;
            top: 10px;
            transition: transform ease-in 200ms;

            img {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
        }


    }
}

.collapse-fichequip__opened {
    width: 335px;
    background-color: #f7f7f7;
    color: #ff6060;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;

    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        padding: 0px 0px 0px 0px;
    }


    @media screen and (min-width: 1440px) {
        width: 582px;
        background-color: #f7f7f7;
        color: #ff6060;
        border-radius: 5px;
        margin: 0px 0px 0px 0px;

        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 34px;
            padding: 0px 0px 0px 0px;
        }


    }
}

.equiplist {
    padding: 23px 7px 5px 12px;

    @media screen and (min-width: 1440px) {
        padding: 40px 12px 27px 20px;
    }
}